/* USER PROFILE PAGE */
#user-p2rofile {
  position: absolute;
  top: 75px;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
}
.card.hovercard .card-background {
    /* background-color: rgba(28, 66, 47, 0.6); */
    background-color: rgba(39, 48, 47, 0.75);
    height: 85px;
}
.card.hovercard .user-avatar {
    /*position: absolute;*/
    bottom: 5px;
    left: 5px;
}
.card.hovercard .user-avatar img {
    width: 75px;
    height: 75px;
}
.card.hovercard .card-info {
    /*position: absolute;*/
    /*bottom: 15px;*/
    /*left: 90px;*/
    position: relative;
    display: inline-block
}
.card.hovercard .card-info .card-title {
  display: block;
  font-size: 20px;
  font-weight: 800;
  color: black;
}
.card.hovercard .card-info .card-tagline {
  display: block;
  font-size: 15px;
  font-weight: 400;
  color: black;
}
.my-btn-panel a {
  background-color: rgba(39, 48, 47, 0.5);
  /* color: white; */
  color: rgba(255, 255, 255, 0.5);
  border-radius: 0;
  border: 0;
  border: 1px solid rgba(39, 48, 47, 0.25);
  font-weight: 600;
}
.my-btn-panel a:hover {
  background-color: rgba(47, 55, 54, 1);
  border: 1px solid rgba(47, 55, 54, 0.5);
  color: white;
}
