//main-nav background-color: rgba(39, 48, 47, 1);
$bg-darker: rgba(39, 48, 47, 1);
//side-menu background-color: rgba(47, 55, 54, 1);
$bg-lighter: rgba(47, 55, 54, 1);
//text-color color: rgba(255, 255, 255, 0.5);
$text-white05: rgba(255, 255, 255, 0.5);
$text-white075: rgba(255, 255, 255, 0.75);


.nav-to-content-margin {
  margin-top: 75px;
}
/*********************************************/
/*********************************************/
/*********************************************/
/** Style overwriting **/
.navbar-default {
  border: 0;
}
.navbar-default .navbar-brand {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: white;
  background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: transparent;
}
.navbar-right {
    margin-right: 15px;
}
.navbar-brand {
  padding: 0;
  margin-left: 15px;
}
.navbar-nav>li>a {
  padding-top: 26.5px;
  padding-bottom: 26.5px;
}
/*********************************************/
/*********************************************/
/*********************************************/
html,
body {
  font-family: 'Quattrocento', serif !important;
  // background-image: linear-gradient(to bottom, #FFFFFF 0%, #c4c4c4 100%);
}
#main-nav {
  position: fixed;
  width: 100%;
  background-color: rgba(39, 48, 47, 1);
  height: 75px;
  form {
    padding: 0;
    margin: 0;
    margin-top: 19.5px;
    margin-bottom: 19.5px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    input {
      background: transparent;
      border-radius: 20px;
      border: 0;
      color: rgba(255, 255, 255, 0.75);
      outline-color: transparent;
    }
    button {
      background: transparent;
      outline: 0;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
/*********************************************/
/*********************************************/
/*********************************************/
/** gallery-entry/create.blade.php **/
.my-error-message {
  margin-bottom: 0px;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity = 0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
#img-upload{
  width: 100%;
}
#gallery-entry-create-container {
  position: absolute;
  height: 100%;
  margin-top: 75px;
  // background-image: linear-gradient(to bottom, #FFFFFF 0%, #c4c4c4 100%);
}
/*********************************************/
/*********************************************/
/*********************************************/
/** home.blade.php **/
#side-menu {
  z-index: 5;
  width: 250px;
  height: 100%;
  position: fixed;
  background-color: rgba(47, 55, 54, 1);
  form {
    width: 200px;
    padding: 0;
    margin: 0;
    margin-top: 75px;
    margin-left: 25px;
    color: rgba(255, 255, 255, 0.75);
    hr {
      margin-bottom: 5px;
      margin-top: 5px;
    }
    .toggleable {
      display: none;
    }
    .as-categories {
      border: 1px solid rgba(255, 255, 255, 0.5);
      padding: 10px;
      div {
        margin: 0;
        label {
          margin: 0;
        }
        input {
          margin: 0;
        }
      }
    }
    h3 {
      font-weight: 600;
      margin: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .search-box {
      width: 100%;
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 20px;
      margin-bottom: 10px;
      input {
        width: 100%;
        background: transparent;
        border-radius: 20px;
        border: 0;
        color: rgba(255, 255, 255, 0.75);
        outline-color: transparent;
      }
    }
    .search-checks {
      label {
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    button {
      background: transparent;
      // outline: 0;
      color: rgba(255, 255, 255, 0.75);
      border: 1px solid rgba(255, 255, 255, 0.75);
      border-radius: 20px;
      margin-top: 10px;
    }
  }
}
#home-container {
  z-index: 0;
  position: absolute;
  margin-top: 75px;
  right: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #c4c4c4 100%);
  #home-banner-container {
    height: 300px;
    margin-left: 250px;
    overflow: hidden;
    position: relative;
    #home-banner-image {
      position: absolute;
      min-width: 500px;
      width: 100%;
      min-height: 300px;
      top: 50%;
      transform: translateY(-50%);
      filter: brightness(80%);
    }
    #home-banner-info {
      position: absolute;
      overflow: hidden;
      min-width: 100%;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      img {
        width: 200px;
        margin-left: 50%;
        transform: translateX(-50%);
        display: block;
        height: auto;
      }
      p {
        color: white;
        font-size: 20px;
        margin-bottom: 30px;
      }
      @media screen and (max-width: 650px) {
        p {
          display: none;
        }
      }
      a {
        background-color: rgba(47, 55, 54, 1);
        color: white;
        width: 200px;
        font-size: 20px;
        border-radius: 20px;
      }
    }
  }
  #home-gallery-container {
    margin-left: 250px;
    padding-top: 20px;
    padding-left: 20px;
    .home-gallery-entry-container {
      display: inline-block;
      position: relative;
      min-width: 200px;
      height: 200px;
      overflow: hidden;
      margin-bottom: 20px;
      .gallery-entry-gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        padding: 0;
        margin: 0;
        z-index: 5;
      }
      &:hover {
        .gallery-entry-gradient {
          background-image: linear-gradient(to bottom,
          rgba(255, 255, 255, 0) 10%,
          rgba(200, 200, 200, 0.1) 50%,
          rgba(0, 0, 0, 0.8) 90%);
        }
        .gallery-entry-fav, h2, h3, p {
          opacity: 1;
        }
      }
      .gallery-entry-image {
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
      }
      .gallery-entry-fav {
        position: absolute;
        top: 0px;
        right: 20px;
        padding: 0 15px;
        font-size: 30px;
        color: green;
        background-color: rgba(100, 100, 100, 0.5);
        opacity: 0;
      }
      h2 {
        z-index: 10;
        position: absolute;
        font-size: 20px;
        font-weight: 800;
        bottom: 42px;
        left: 10px;
        color: white;
        opacity: 0;
      }
      h3 {
        z-index: 10;
        position: absolute;
        font-size: 15px;
        bottom: 16px;
        left: 10px;
        opacity: 0;
        a {
          img {
            position: absolute;
            bottom: 5px;
            width: 15px;
            height: 15px;
          }
          span {
            position: absolute;
            bottom: 5px;
            left: 20px;
            color: white;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      p {
        z-index: 10;
        position: absolute;
        bottom: -6px;
        left: 10px;
        color: white;
        opacity: 0;
      }
    }
    .page-links {
      margin: 0;
      .active {
        span {
          background-color: $bg-lighter;
          border-color: $bg-lighter;
          color: white;
        }
      }
      li {
        &:hover {
          a {
            background-color: rgba(39, 48, 47, 0.75);
            border-color: rgba(39, 48, 47, 0.75);
            color: $text-white075;
          }
        }
      }
      a,
      span {
        border-color: $bg-lighter;
        background-color: rgba(39, 48, 47, 0.5);
        color: $text-white05;
      }
    }
  }
}
/*********************************************/
/*********************************************/
/*********************************************/
/** auth/login.blade.php **/
.auth-container {
  position: fixed;
  width: 100%;
  margin-top: 150px;
}
/*********************************************/
/*********************************************/
/*********************************************/
.user-content {
}
/** user/gallery.blade.php **/
#user-gallery-container {
  margin-top: 20px;
  margin-left: 20px;
  .home-gallery-entry-container {
    display: inline-block;
    position: relative;
    min-width: 200px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    .gallery-entry-gradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 200px;
      padding: 0;
      margin: 0;
      z-index: 5;
    }
    &:hover {
      .gallery-entry-gradient {
        background-image: linear-gradient(to bottom,
        rgba(255, 255, 255, 0) 10%,
        rgba(200, 200, 200, 0.1) 50%,
        rgba(0, 0, 0, 0.8) 90%);
      }
      .gallery-entry-fav, h2, h3, p {
        opacity: 1;
      }
    }
    .gallery-entry-image {
      z-index: 1;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 95%;
      box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
    }
    .gallery-entry-fav {
      position: absolute;
      top: 0px;
      right: 20px;
      padding: 0 15px;
      font-size: 30px;
      color: green;
      background-color: rgba(100, 100, 100, 0.5);
      opacity: 0;
    }
    h2 {
      z-index: 10;
      position: absolute;
      font-size: 20px;
      font-weight: 800;
      bottom: 42px;
      left: 10px;
      color: white;
      opacity: 0;
    }
    h3 {
      z-index: 10;
      position: absolute;
      font-size: 15px;
      bottom: 16px;
      left: 10px;
      opacity: 0;
      img {
        width: 15px;
        height: 15px;
        margin-bottom: 3px;
      }
      a {
        text-decoration: none;
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    p {
      z-index: 10;
      position: absolute;
      bottom: -6px;
      left: 10px;
      color: white;
      opacity: 0;
    }
  }
}
#user-profile-container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  textarea,
  input,
  select {
    background-color: transparent;
    border: 0;
    display: inline-block;
  }
  textarea {
    padding: 0;
    width: 100%;
    overflow: hidden;
    resize: none;
    height: auto;
    // height: 500px;
    cursor: default;
    text-align: justify;
  }
  #user-gender {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
